.dogs-photo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__error {
    width: 300px;
    height: 300px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
  }

  &__button {
    height: 30px;
    padding: 25px;
    margin-top: 30px;
    font-size: 20px;
    font-family: system-ui;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    background-color: white;
    color: brown;
  }
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 300px;
  height: 300px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 120px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
